body {
  background-color: rgba(227, 233, 234, 1);
}
span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
/* Partie Profil */
.profil {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.69);
  border-radius: 20px;
}
.profil img {
  border-radius: 20px;
}
/* bibliographie  de l'auteur */
.bibliographie {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 0px 20px #e3e9ea;
  border-radius: 20px 20px 0px 0px;
  margin-top: 30px;
}
.card-title p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: black;
  margin-top: 20px;
}
.card-title p strong {
  color: red;
}
.card-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  left: 58px;
  top: 570px;
}
.contact {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  margin-top: 30px;
}
.contact h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-top: 20px;
  text-align: center;
}
.contact .btn {
  background: #ee0505;
  border-radius: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin: 5px;
  text-align: center;
}
.contact .buton {
  background-color: transparent;
  border-radius: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  margin-top: 20px;
  text-align: center;
  color: black#ffffff;
  margin-top: 140px;
  margin: 5px;
  text-align: center;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 60px;
  height: 60px;
  border-radius: 80px;
  padding: auto;
  margin-top: 10px;
  margin-left: 10px;
  color: red;
}
/* Partie Formations */
.formations {
  text-align: center;
}
h1 {
  margin: 30px auto 0;
  width: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  position: relative;
}
h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  left: 130px;
  margin: 0 auto;
  background: #ee0505;
}

.barre {
  width: 5px;
  height: 400px;
  background-color: #c4c4c4;
  position: relative;
  margin-left: 20px;
}
.circle-position {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: -1px;
}
.line {
  height: 3px;
  width: 150px;
  position: absolute;
  background-color: #c4c4c4;
  top: 52px;
  left: 10px;
}
.carte {
  background-color: red;
  border-radius: 15px;
  width: 260px;
  height: 20%;
  position: absolute;
  top: 12px;
  left: 70px;
  margin-right: 10px;
  box-shadow: 0px 5px 0px;
}
.carte p {
  color: white;
  font-family: "work sans";
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.circle-position2 {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
  position: absolute;
  top: 185px;
  left: -1px;
}
.line2 {
  height: 3px;
  width: 150px;
  position: absolute;
  background-color: #c4c4c4;
  top: 190px;
  left: 10px;
}
.carte2 {
  background-color: white;
  border-radius: 15px;
  width: 260px;
  height: 20%;
  position: absolute;
  top: 150px;
  left: 70px;
  margin-right: 10px;
  box-shadow: 0px 5px 0px;
}
.carte2 p {
  color: black;
  font-family: "work sans";
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.circle-position3 {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
  position: absolute;
  top: 325px;
  left: -1px;
}
.line3 {
  height: 3px;
  width: 150px;
  position: absolute;
  background-color: #c4c4c4;
  top: 328px;
  left: 10px;
}
.carte3 {
  background-color: white;
  border-radius: 15px;
  width: 260px;
  height: 20%;
  position: absolute;
  top: 288px;
  left: 70px;
  margin-right: 10px;
  box-shadow: 0px 5px 0px;
}
.carte3 p {
  color: black;
  font-family: "work sans";
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
/* section Diplome */
.diplomes {
  text-align: center;
  margin-top: 30px;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.diplomes span {
  position: absolute;
  width: 30px;
  height: 5px;
  left: 200px;
  background: #ee0505;
}
.hbar {
  background-color: #c4c4c4;
  width: 60px;
  height: 3px;
}
span.circle1 {
  width: 15px;
  height: 15px;
  border-radius: 60%;
  background-color: red;
}
span.circle2 {
  width: 15px;
  height: 15px;
  border-radius: 60%;
  background-color: gray;
}
.menu {
  min-height: 300px;
  position: relative;
}
.vertical-bar {
  height: 100%;
  width: 10px;
  position: absolute;
  background: rgb(195, 193, 193);
  z-index: -1;
}
.button1 {
  width: 100vw;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background: red;
  border: 0.3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
  font-family: "work sans";
  text-align: center;
  font-weight: bold;
  height: 80px;
  padding: 10px;
}
.button2 {
  width: 100vw;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background: white;
  border: 0.3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "work sans";
  text-align: center;
  font-weight: bold;
  height: 80px;
  padding: 10px;
}
/* Section Compétences */
.competences {
  text-align: center;
  margin-top: 30px;
}
.competences span {
  position: absolute;
  width: 30px;
  height: 5px;
  left: 200px;
  background: #ee0505;
}
.progression {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  padding: 30px 0;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: center;
}
.title h2 {
  margin-top: 20px;
}
.skills-bars .bar {
  margin: 40px 0;
}
.skills-bars .bar .info {
  margin-top: 5px;
}
.skills-bars .bar .info span {
  margin-top: 0px;
}
.skills-bars .bar .progress-line {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.bar .progress-line span {
  height: 100%;
  width: 80%;
  position: absolute;
  background-color: red;
  border-radius: 10px;
}
.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  height: 0;
  width: 0;
  top: -10px;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
}
.bar .progress-line span::before {
  position: absolute;
  content: "80%";
  right: 0;
  top: -30px;
  left: 360px;
}
/* Qualités Personnelles */
.qualites-personnelles{
  margin-top: 20px;
  padding: 30px;
}
.card {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 20px 0;
  max-width: 500px;

}
.card-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ee0505;
  margin: 40px 0;
}
.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
