body {
  background-color: rgba(227, 233, 234, 1);
}
span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

/* Partie Profil */
.profil {
  margin-top: 130px;
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.69);
  border-radius: 20px;
}
.profil img {
  border-radius: 20px;
}

/* bibliographie  de l'auteur */
.bibliographie {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 0px 20px #e3e9ea;
  border-radius: 20px 20px 0px 0px;
  margin-top: 30px;
}
.card-title p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: black;
}
.card-title p strong {
  color: red;
}
.card-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  left: 58px;
  top: 551px;
}
.contact {
  background: rgba(255, 255, 255, 0.69);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  margin-top: 30px;
}
.contact h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-top: 10px;
  text-align: center;
}

.contact .btn {
  background: #ee0505;
  box-shadow: 0px 4px 20px 20px #ffffff;
  border-radius: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-top: 10px;
}
.contact .button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  background: #e3e9ea;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.69);
  border-radius: 10px;
  margin-top: 10px;
}
.user::before {
  background-color: red;
  border-radius: 50px;
  content: "";
  height: 10px;
  opacity: 10px;
  width: 40px;
  z-index: -1;
}
